<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.mikaapp.sdk">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application>
        <provider android:authorities="${applicationId}.MikaSdkInitProvider" android:name=".MikaSdkInitProvider"
                  android:exported="false"/>
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <service
                android:name=".mqtt.MikaMqttService"
                android:enabled="true"
                android:exported="false"/>
    </application>
</manifest>
